@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notification Example</h2>

<button id="notificationButton">Get Notification</button>

@section StyleSection {
    <link href="@Url.Content("~/Content/jquery.jgrowl.css")" rel="stylesheet" type="text/css" />
}

@section ScriptSection {
    
    <script src="@Url.Content("~/Scripts/jquery.noty.js")"></script>
    <script src="@Url.Content("~/Scripts/layouts/center.js")"></script>
    <script src="@Url.Content("~/Scripts/themes/default.js")"></script>
    <script type="text/javascript">
        
        $("#notificationButton").bind("click", function (event) {
            event.preventDefault();

            var warning = generate('warning');
            $.noty.setText(warning.options.id, "Your buton was pushed!");
            setTimeout(function () {
                $.noty.close(warning.options.id);
            }, 8000);
        });

        function generate(type) {
            var n = noty({
                text: type,
                type: type,
                dismissQueue: false,
                layout: 'center',
                theme: 'defaultTheme'
            });

            return n;
        }

    </script>

}