@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Notification Example</h2>

<button id="notificationButton">Get Notification</button>

@section StyleSection {
    <link href="@Url.Content("~/Content/jquery.jgrowl.css")" rel="stylesheet" type="text/css" />
}

@section ScriptSection {
    <script src="@Url.Content("~/Scripts/jquery.jgrowl_minimized.js")" type="text/javascript"></script>
    <script type="text/javascript">
        
        $("#notificationButton").bind("click", function (event) {
            event.preventDefault();
            $.jGrowl("Your buton was pushed!");
        });
    </script>

}