@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="ui-widget">
	<label for="myTextbox">Languages: </label>
	<input id="myTextbox" />
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
	Result:
	<div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>

@section ScriptSection {
    <script type="text/javascript">
        $(document).ready(function () {

            function log(message) {
                $("<div/>").text(message).prependTo("#log");
                $("#log").scrollTop(0);
            }

            $("myTextbox").autocomplete({
                source: '/Autocomplete/GetLanguages', 
                
                //function (request, response) {
                    // define a function to call your Action (assuming UserController)
//                    $.ajax({
//                        url: '/Autocomplete/GetLanguages',
//                        type: "GET",
//                        dataType: "json",

//                        // query will be the param used by your action method
//                        success: function (data) {
//                            response($.map(data, function (item) {
//                                return { label: item, value: item };
//                            }))
//                        }
//                    })
//                },
                minLength: 1,
                select: function( event, ui ) {
                	log( ui.item ?
                		"Selected: " + ui.item.value + " aka " + ui.item.id :
                		"Nothing selected, input was " + this.value );
                }
            });
        });
    </script>

}
