@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="ui-widget">
	<label for="myTextbox">Languages: </label>
	<input id="myTextbox" />
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
	Result:
	<div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>

@section ScriptSection {
    <script type="text/javascript">
        $(document).ready(function () {

            $("myTextbox").autocomplete({
                source: '@Url.Action("GetLanguages")'
            });
        });
    </script>

}
